@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/Fotos/Africa.jpg" alt="Fondo" class="img-fluid" width="100%">
</div>
<br>
<hr>
<br>
<br>
<hr>
<div class="conteiner">
    <h2 class="titulo">Instrucciones</h2>
    <p>
    <h5 class="titulo">¡Bienvenido!</h5>
    <br>

    Ésta es una página de control de Stock. En ella podras <strong>Ingresas</strong>, <strong>Modificar</strong>,
    <strong>Ver</strong> y <strong>Eliminar</strong>
    Productos de tu tienda.

    <ul>
        <li>
            Al agregar un articulo es importante que completes todos los campos. (El campo de cantidad de productos
            puede obviarse.)
        </li>
        <li>
            Luego de agregar tus productos, podras verlos en la pestaña de <strong>Galery</strong>.
        </li>
        <li>
            En la Galeria podras encontrar una barra de busqueda. Ésta misma busca por Prenda, si decea volver a ver
            toda la lista, simplemente deje el campo en blanco.
            Tambien podras ver que a la derecha de cada articulo se encuentran los botones <strong>Editar</strong> y
            <strong>Eliminar</strong>. Es importante corroborar que el elemento a editar o eliminar sea el indicado
        </li>
    </ul>

    </p>
</div>
<br>
<hr>
<br>
<br>
<hr>
